@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================
   SCROLL REVEAL
========================= */

.scroll-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.scroll-reveal.reveal-show {
  opacity: 1;
  transform: translateY(0);
}

.reveal-section {
  opacity: 0;
  transform: translateY(35px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.reveal-section.show {
  opacity: 1;
  transform: translateY(0);
}